@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #1791cf;
    --background-light: #f6f7f8;
    --background-dark: #111c21;
  }

  body {
    font-family: "Newsreader", serif;
  }
}
